<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="theCatas">
<form action="/expenses" method="post">
<h1 style="color: yellowgreen;">Track Your Expenses </h1>
<h3 style="color: antiquewhite;"><i>Please select a category and enter an amount you spent this week below</i></h3>
<br>
<br>
<select name="catagory">
  <option name='catagory' value="1">food</option>
  <option name='catagory' value="2">toiletries</option>
  <option name='catagory' value="3">travel</option>
  <option name='catagory' value="4">communication</option>
</select>
<input type="number" value="" name="amount" >
<br>
<br>
<input type="date" name="expense_date" value="" placeholder=""><br><br>
<a href="/page3"><button class="btnblue">Track Expences</button></a>
    </div>
</body>
</html>







