<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="theCatas">
<form action="//{{name}}" method="post">
<h2>Track Your Expenses </h2>
<h5><i>Please select a category and enter an amount you spent this week below</i></h5>
<select name="catagory">
  <option name='catagory' value="food">food</option>
  <option name='catagory' value="toiletries">toiletries</option>
  <option name='catagory' value="travel">travel</option>
  <option name='catagory' value="communication">communication</option>
</select>
<input type="number" value="" name="amount" >
<input type="date" name="expense_date" value="" placeholder=""><br><br>
<a href="/"><button class="btn">Track Expences</button></a>
    </div>
</body>
</html>







