<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="theCatas">
            <div class="message">
				{{messages.message}}
			</div>
        <form action="/expenses" method="post">
            <h1 style="color: yellowgreen;">Track Your Expenses </h1>
            <h3 style="color: antiquewhite;"><i>Please select a category and enter an amount you spent this week
                    below</i></h3>
            <br>
            <br>
            <select name="catagory">
                <option value="1">food</option>
                <option value="2">toiletries</option>
                <option value="3">travel</option>
                <option value="4">communication</option>
            </select>

            <input class="amount" type="number" name="amount" placeholder="enterExpense">
            <br>
            <br>
            <input type="date" name="expense_date" value="getdate"><br><br>
            <button type="submit" class="btnblue">Submit</button>
        </form>
    </div>
    <a href="/trackers"><button class="btnblue">Track Expences</button></a>
</body>
<script src="setTimeout.js"></script>
</html>