<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <table>
        <h1 style="color: beige;">Tracker's Expenses</h1>
        <br>
        <br>
        <thead>
            <tr>
                <th style="color: bisque;">ID</th>
                <th style="color: bisque;">catagories_id</th>
                <th style="color: beige;">amount</th>
                <th style="color: beige;">Date</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
    <br>
    <br>
    <button type="submit" class="btnblue">clear</button>
</body>

</html>